<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="one">
<a  ng-click="gourl('header')">go header</a>
<a  ng-click="gourl('footer')">go footer</a>
<div ng-include="src"></div>
<script type="text/ng-template" id="one.html">
    <div class="well">
        hello one.html
    </div>
</script>
<script type="text/ng-template" id="two.html">
    <div class="well">
        hello two.html
    </div>
</script>
<script src="../node_modules/angular/angular.js"></script>
<script>
    (function(){
        angular.module("demo",[])
                .controller("one",function ($scope) {
                    // $scope.url = "app/view/header.html";
                    $scope.gourl = function (url) {
                        if(url == "header"){
                            $scope.src = "one.html";
                            //$scope.src = "app/view/header.html";
                        }else {
                            $scope.src = "two.html";
                           // $scope.src = "app/view/footer.html";
                        }
                    }
                });
    })()
</script>
</body>
</html>